  /* SEARCH BAR STYLING HERE */
    @import url(https://fonts.googleapis.com/css?family=Roboto);

    body{
      background: #f2f2f2;
      font-family: 'Roboto';
      overflow-x: hidden;
     }

    .search {
      width: 100%;
      position: relative;
      top: 50px;
      margin-right: 8px;
      }

    .searchTerm {
      float: left;
      padding: 2em;
      width: 40%;
      margin-top: 120px;
      margin-left: 2px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      } 
   
      #userInput1 {
        margin: 20px;
        }

     #userInput2 {
        margin: 20px;
        }
     
     .searchTerm:focus{
      color: #00B4CC;
      }

    .searchButton {
      position: relative; 
      margin-top: 120px;
      left: 10px;
      right: -50px;
      width: 100px;
      height: 50px;
      border: 1px solid  black;
      background:  #729de0;
      text-align: center;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      text-shadow: 0px 1px 0px grey;
      font-size: 20px;
      }

      .searchButton:hover {
        background: #437dd6;
        }

    /*change search bar dimensions here*/
    .wrap{
      position: relative;
      left: 50%;
      top: 5px;
      transform: translate(-50%, -50%);
      width: 50%; 
        
    }
    .fa fa search {
        display: inline-flex;
      }
     
   /* STYLING FOR JS CARD LAYOUT */ 
    
    * {
      box-sizing: border-box
    }

    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Roboto', sans-serif;
      line-height: 1.6;
      color: #696969;
      background: white;
    }

    #root {
      max-width: 1200px;
      margin: 0 auto;
    }

    h1 {
      text-align: center;
      padding: 1.5rem 2.5rem;
      background-color: #D4D4D4;
      margin: 0 0 2rem 0;
      font-size: 1rem;
      color: #696969;
      }

     h2 {
       text-align: center;
            
        }


    h3, h4 {
      text-align: left;  
      position: relative;
      font-size: 1rem;
      line-height: .5;
      top: 10px;
      left: 43px;   
      padding: .2rem;
      }

    p {
      padding: 0 2.5rem 2.5rem;
      margin: 0;
      }

    .container1{
       padding 1 rem;
       border-radius: 50px;
     }

    .card {
      margin: .5rem;
      background: F5F5F5;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
      border-radius: 12px;
      overflow: hidden;
      transition: all .2s linear;
    
      }

    .card:hover {
      box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
      transform: translate3D(0, -2px, 0);
     }

    @media screen and (min-width: 600px) {
      .card {
        flex: 1 1 calc(50% - 2rem);
       }
     }

    @media screen and (min-width: 900px) {
      .card {
        flex: 1 1 calc(33% - 2rem);
       }
     }

    .card:nth-child(2n) h1 {
      background-color: #D4D4D4;
      color: #696969;
     }

    .card:nth-child(4n) h1 {
      background-color: #D4D4D4;
      color: #696969;
     }

    .card:nth-child(5n) h1 {
      background-color #D4D4D4;
      color: #696969;
      }

    .container2 {
       padding: 20px;
       width: 90%;
       max-width: 400px;
       margin: 0 auto;
      }

    label {
       display: block;
       line-height: 1.5em;
     }

    ul {
       margin-left: 0;
       padding-left: 0;
       list-style: none;
      }

    li {
       padding: 8px 16px;
       border-bottom: 1px solid #eee;
      }

/* FILTER BY JOB TYPE */

.checkbox {
          position: relative;
          padding: 5px;
          margin-left: 300px;
          margin-right: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
                
          }

  /* PAGINATION */

.pagination a {
  display: inline-block;
  color: black;
  text-align: center;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;} 

/* CENTER PAGINATION */
.center {
    text-align: center;
    }
    
